* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  background-image: linear-gradient(0deg, #000000 60%, #250001);
}

.countdown {
  display: flex;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  margin-top: 12.5rem;
}

.time-counter {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 10rem;
  font-family: 'Roboto', sans-serif;
}

.time-remaining {
  color: #650d1b;
}

.time-counter .hours,
.time-counter .minutes,
.time-counter .seconds {
  margin-left: 7.5rem;
}

.time-label {
  font-size: 2.5rem;
}