* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  color: white;
  background-color: black;
}

.time-counter {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 4rem;
}

.time-counter .hours,
.time-counter .minutes,
.time-counter .seconds {
  margin-left: 1.5rem;
}